<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EnglishReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5797A89F1E20F27600F0BE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5797A8B81E20F27600F0BE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5797A8C31E20F27600F0BE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
